@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    21355 Ridgetop Circle, #300<br />
    Dulles, VA 20166<br />
    <abbr title="Phone">P:</abbr>
    201.668.1367
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lyr6681367@gmail.com">lyr6681367@gmail.com</a><br />
</address>